{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="card shadow rounded">
        <h3 class="card-title text-center fs-1 mt-3"> Home Page </h3>
        <span class="border-top"></span>
        <div class="card-body text-center">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow rounded">
                        <h3 class="card-title text-center fs-1 mt-3"> New Joiners </h3>
                        <span class="border-top"></span>
                        <div class="card-body text-center">
                            <div class="table-responsive">
                                <table class="table table-light table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Name</th>                                                                        
                                            <th>Team</th>
                                            <th>Register Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for joiner in new_joiners %}
                                        <tr>
                                            <td>{{ joiner.name }}</td>                                            
                                            <td>{{ joiner.team }}</td>
                                            <td>{{ joiner.register_date }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl-6 col-sm-12 pt-4">
            </div>
            
        </div>
    </div>
</div>


{% endblock %}